<!DOCTYPE html>
<html>

<head>
    <title>Logout</title>
    <link rel="stylesheet" type="text/css" href="/styles/global.css">
</head>

<body>
    <%- include('navbar.ejs') %>
    <h1>Logout</h1>
    <p>Você saiu com sucesso. Obrigado por usar nosso sistema!</p>
    <p><a href="/">Voltar para a página inicial</a></p>
</body>

</html>