<!DOCTYPE html>
<html>

<head>
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="/styles/register/register.css">
</head>

<body>
    <%- include('navbar.ejs') %>
    <!-- register.ejs -->
    <h1>Registrar</h1>
    <% if (errorMessage) { %>
    <p class="error-message">
        <%= errorMessage %>
    </p>
    <% } %>
    <!-- Restante do código de registro -->
    <div class="register-container">
        <h1>Crie uma Conta</h1>
        <form method="POST" action="/register">
            <label for="username">Nome de Usuário:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Registrar">
        </form>
        <p>Já tem uma conta? <a href="/login">Faça login</a></p>
    </div>
</body>

</html>
