@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron&family=Poppins:wght@500&family=Space+Mono&display=swap');
@import '../navbar/navbar.css';
/* Reset de estilos para garantir consistência */


body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Definições globais */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}


/* Estilos para links */
body>a {
    color: #572eb0;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3225bc;
    text-decoration: none;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.error-message {
    color: red;
}